<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Tiny App</title>
  </head>
  <body>
  <p><%= errorVar %></p>
  <button onclick="window.location.href='/login'">Login</button>
  <button onclick="window.location.href='/register'">Register</button>
  </body>
</html>
