<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Tiny App</title>
  </head>
  <body>
        <!--TOP OF HEADER FILE CODE-->
    
        <%- include('partials/_header')%>

        <!--BOTTOM OF HEADER FILE CODE-->
    <H1>
      Welcome To The Registration Form 
    </H1>
    <div>
      <form method="POST" action="/register">
        <label for="eMail">enter your email address</label>
        <input type="email" id="eMail" name="email"><br><br>
        <label for="passWord">enter the login password</label>
        <input type="password" id="passWord" name="password"><br><br>
        <button type="submit">CONFIRM</button>
      </form>
      <form method="GET" action="/Login">
        <button type="submit">Login Instead</button>
      </form>
    </div>
  </body>
</html>